Repository GDG-RAIT/HacktoberFestFinal, pull requests merged in 2024-10, with the labels that each got.

#23 Update 25.py
  Python/25.py
Labels: python

#22 solved15.c
  C/15.c
  C/a.out
Labels: c

#26 Update 15.java
  Java/15.java
Labels: java

#24 solved17.c
  C/17.c
  C/a.out
Labels: c

#27 Update 30.py
  Python/30.py
Labels: python

#29 404notfound
  C/2.c
Labels: c

#33 2.c
  C/2.c
Labels: c

#31 Update 28.c
  C/28.c
Labels: c

#40 Second PR
  C/3.c
Labels: c

#51 Update 27.py
  Python/27.py
Labels: python

#53 Update 4.c
  C/4.c
Labels: c

#54 27.py pixel coders
  Python/27.py
Labels: python

#55 5.py
  Python/5.py
Labels: python

#57 Update 27.java
  Java/27.java
Labels: java

#58 ok hope this works
  C/25.c
Labels: c

#63 Update 1.py
  Python/1.py
Labels: python

#64 Linked List reverse delete
  C/4.c
Labels: c

#65 Python 27.py
  Python/27.py
Labels: python

#60 Update 3.c
  C/3.c
Labels: c

#66 Update 2.java
  Java/2.java
Labels: java

#68 Question 27 (agian)
  C/27.c
Labels: c

#71 Codebots 5 retry again
  Python/5.py
Labels: python

#74 Python 12.py
  Python/12.py
Labels: python

#76 6dude
  C/6.c
Labels: c

#75 update
  C/27.c
Labels: c

#80 Update 25.java
  Java/25.java
Labels: java

#83 Update 14.py
  Python/14.py
Labels: python

#87 14.py pixel coders
  Python/14.py
Labels: python

#92 Update 15.py
  Python/15.py
Labels: python

#95 Update 12.c
  C/12.c
Labels: c

#96 Hard6
  Python/15.py
Labels: python

#100 Question 30
  C/30.c
Labels: c

#107 Python 25.py
  Python/25.py
Labels: python

#103 Update 5.java
  Java/5.java
Labels: java

#108 up
  C/1.c
Labels: c
